# Node
node_modules/
**/node_modules/
backend/node_modules/

#Frontend build
frontend/build/
frontend/dist/
frontend/.next/

# Common build output
backend/dist/
dist/
build/
.next/

# .NET
bin/
obj/
**/bin/
**/obj/

# Env
.env*

#Local secrets
**/appsettings.Development.json